* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}

body{
	background:#262228;
	color: #fff;
}

.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	color: #fff;
	position: fixed;
	width: 200px;
	height: 100%;
	background:#000000;
	padding: 30px 0; 

}
.wrapper .sidebar h2{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;

}
.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid #F19F4D;
	border-top: 1px solid #F19F4D;
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}

.wrapper .sidebar ul li:hover{
	background:#e0e0d1;
}
.wrapper .sidebar ul li:hover a{
	color: #fff;
}

.wrapper .main_content {
	margin-left: 200px;
	width: 100%;

}

.wrapper .main_content .header{
	background:#000000;
	padding: 20px;
	color: #e60000;
	border-bottom: 1px solid #F19F4D;
}

.wrapper .main_content .info{
	margin: 20px;
	color:#66ccff;
	line-height: 0px;

}
.wrapper .main_content .info div{
	margin-bottom: 20px;
	color:#000000;
	line-height: 25px;

}

